{
	"extends": ["nzap", "nzap/typescript", "nzap/react"],
	"parserOptions": {
		"project": null
	},
	"rules": {
		"require-jsdoc": 0,
		"no-unused-vars": 2,
		"import/no-extraneous-dependencies": 0
	}
}
